
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: black;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background: url('./assets/trip.jpg') no-repeat center center/cover;
    color: white;
    text-align: left;
    padding: 270px 300px 450px 20px;
    position: relative;
}

#hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#hero .container {
    position: relative;
    z-index: 1;
}

#hero h2 {
    font-size: 3em;
    margin: 0;
}

#hero p {
    font-size: 1.5em;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px;
    background-color: #ff5733;
    color: white;
    text-decoration:underline;
    border-radius: 5px;
}

section {
    padding: 100px 20px;
    margin-top: 60px;
}

#destinations {
    background-color: white;
    text-align: center;
}

#destinations .destinations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.destination {
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
}

.destination img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.destination h3 {
    margin: 0;
    padding: 20px;
}

.destination:hover {
    transform: scale(1.05);
}

#services {
    background-color: #f8f8f8;
    text-align: center;
}

#services .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.service {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

#about {
    background-color: white;
    text-align: center;
}

#why-choose-us {
    background-color: whitesmoke;
    text-align: center;
}

#why-choose-us .why-choose-us-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.why-choose-us-item {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

#contact {
    background-color: #f8f8f8;
    text-align: center;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cac9c9;
    border-radius: 5px;
}

button.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}
